body {
    background-color: #1c1c1c;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.container {
    width: 550px;
    padding: 115px 52px;
    text-align: center;
    margin: 100px 0 auto 0;
}

.container-dark {
    background-color: #1f2937;
}

.container #title {
    font-family: 'Karla', sans-serif;
    width: 350px;
    font-size: 40px;
    line-height: 40px;
    font-weight: 800;
    letter-spacing: -0.025em;
    text-align: left;
    margin: 0;
}

.title-dark {
    color: #ffffff;
}

.container .title-accent-dark {
    color: #4adf86;
}

.container p {
    font-size: 20px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 50px;
}

.desc-dark {
    color: #d5d4d8;
}

#buttons-wrapper {
    display: flex;
    max-width: 446px;
}